.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--main-text-color);
}

.modal__label {
  display: block;
  position: relative;
  margin-bottom: 10px;
  &:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}

.modal__text {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__input {
  width: 100%;
  height: 40px;

  padding: 0;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
  &:hover + .modal__icon,
  &:focus + .modal__icon {
    fill: var(--accent-color);
  }
}

.modal__icon {
  position: absolute;
  bottom: 12px;
  left: 15px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  margin-bottom: 20px;
}

.modal__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  color: var(--modal-form-comment);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.checkbox {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.modal__checkbox--custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;

  width: 16px;
  height: 15px;

  border: 2px solid var(--main-text-color);
  border-radius: 2px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox:checked + .modal__checkbox--custom {
  border-color: transparent;
  background-color: var(--accent-color);
}

.icon-checkbox {
  fill: var(--accessorial-text-color);
}

.modal__checkbox--agreement {
  display: inline-flex;

  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal__link {
  color: var(--accent-color);
  text-underline-position: under;
  letter-spacing: 0.03em;
  outline: transparent;
}

.modal__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 55px 10px 56px;

  outline: transparent;
  box-shadow: var(--modal-btn-shadow);
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--button-accent-color);
  }
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;

  cursor: pointer;
  &:hover > .modal-close__icon,
  &:focus > .modal-close__icon {
    fill: var(--accent-color);
  }
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-close__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 11px;
  height: 11px;
  fill: var(--logo-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
