.header {
  background-color: var(--accessorial-text-color);
  border-bottom: 1px solid var(--header-border-color);
  display: flex;
  align-items: center;
}

/* main-nav */

.main-nav {
  display: flex;
}
