.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.features__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: 354px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: 270px;
  }
}

.features__thumb {
  // width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background: var(--buttom-bg-color);
  border-radius: 4px;
}

.features__icon {
  justify-content: center;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
}

.features__title--hidden {
  opacity: 0;
}

.features__subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__text {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--paragraph-text-color);
}

.features__title {
  margin-bottom: 0;
}
