.hero {
  min-height: 400px;
  // max-width: 1600px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 0;

  margin-left: auto;
  margin-right: auto;

  text-align: center;
  background-color: var(--accent-bg-color);
  // background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)),
  //   url(../images/herobg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)),
      url(../images/herobg-mob.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--hero-overlay),
          var(--hero-overlay)
        ),
        url(../images/herobg-mob-2x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)),
      url(../images/herobg-tab.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--hero-overlay),
          var(--hero-overlay)
        ),
        url(../images/herobg-tab-2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)),
      url(../images/herobg.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--hero-overlay),
          var(--hero-overlay)
        ),
        url(../images/herobg-descktop-2x.jpg);
    }
  }
}
