.hero__title {
  max-width: 696px;
  margin: 0 auto;

  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--accessorial-text-color);
}
