.social__list {
  display: flex;
  justify-content: center;
}

.social__item + .social__item {
  margin-left: 10px;
}

.link {
  text-decoration: none;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--accessorial-text-color);
  }
}

.social__icon {
  fill: currentColor;
}
