:root {
  --main-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
  --accessorial-text-color-transparency: #ffffff60;
  --accessorial-text-color: #ffffff;
  --button-accent-color: #188ce8;
  --logo-text-color: #000000;
  --accent-bg-color: #2f303a;
  --portfolio-main-color: #e5e5e5;
  --buttom-bg-color: #f5f4fa;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --header-border-color: #ececec;
  --container-projects-border: #eeeeee;
  --hero-overlay: rgba(47, 48, 58, 0.4);
  --icon-color: #afb1b8;
  --portfolio-projects-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --filters-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --bg-overlay-thumb: rgba(47, 48, 58, 0.8);
  --bg-cover-portfolio: rgba(33, 150, 243, 0.9);
  --modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --modal-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --modal-form-comment: rgba(117, 117, 117, 0.5);
}
